.main-box {
  position: relative;
  margin-top: 10rem;
}

.button{
  border: 1px solid rgb(20, 20, 20);
  border-radius: 2.5rem;
  box-shadow: 1px 1px 1px rgb(102, 100, 100);
  padding:0.4rem 2.4rem;
  width: 40rem;
   align-self: auto;
  outline: none;
  
}